<div class="wrapper px-3 py-4">
  <h2>Users</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="#">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </nav>
  <div class="wrapper-content row">
    <div class="col-md-8">
      <div class="md-form">
        <i class="fa fa-search prefix search-icon"></i>
        <input type="text" id="form2" class="form-control search" placeholder="Search by name or email or phone">
    </div>
    </div>
  </div>
  <div class="row px-5 mx-2 mt-3">
    <div class="col-md-3 user-card">
      <div class="inner-card">
        <div class="avatar">
          <img src="../assets/pp.jpg" alt="">
        </div>
        <h4>Buckner</h4>
        <hr>
        <table>
          <tr>
            <th>Full Name </th>
            <td>Kekeli Buckner</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>ericabbey.8gig@gmail.com</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>0245268415</td>
          </tr>
          <tr>
            <th>Personality </th>
            <td>Elder</td>
          </tr>
          <tr>
            <th>Created At</th>
            <td>20th March 2018</td>
          </tr>
          <tr>
            <th>Last Login</th>
            <td>20th March 2018</td>
          </tr>
        </table>
        <hr>
        <span class="fa fa-edit"></span>
        <span class="fa fa-trash float-right"></span>
      </div>
    </div>

    <div class="col-md-3 user-card">
      <div class="inner-card">
        <div class="avatar">
          <img src="../assets/joe.jpg" alt="">
        </div>
        <h4>Dynamo</h4>
        <hr>
        <table>
          <tr>
            <th>Full Name </th>
            <td>Joel aaaaa</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>ericabbey.8gig@gmail.com</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>0245268415</td>
          </tr>
          <tr>
            <th>Personality </th>
            <td>Elder</td>
          </tr>
          <tr>
            <th>Created At</th>
            <td>20th March 2018</td>
          </tr>
          <tr>
            <th>Last Login</th>
            <td>20th March 2018</td>
          </tr>
        </table>
        <hr>
        <span class="fa fa-edit"></span>
        <span class="fa fa-trash float-right"></span>
      </div>
    </div>
    <div class="col-md-3 user-card">

    </div>
    <div class="col-md-3 user-card">

    </div>
  </div>
</div>