<div class="wrapper px-3 py-4">
  <h2>Categories</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="#">Categories</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </nav>
  <div class="wrapper-content row">
    <div class="col-md-8">
      <div class="md-form">
        <i class="fa fa-search prefix search-icon"></i>
        <input type="text" id="form2" class="form-control search" placeholder="Search by name or email or phone">
    </div>
    </div>
  </div>
  <div class="row px-5 mx-2 mt-3">
    <div class="col-md-4 category-card" >
      <div class="inner-card" style="background-image: url('../../assets/life.jpg');">
        <div class="blur-layer"></div>
        <div class="all-element">
          <h4>Church Growth</h4>
          <hr>
          <table>
            <tr>
              <td><strong>102</strong> contents</td>
            </tr>
            <tr>
              <td><strong>829</strong> Views</td>
            </tr>
            <tr>
              <td><strong>23</strong> Comments</td>
            </tr>
          </table>
          <hr>
          <span class="fa fa-edit"></span>
          <span class="fa fa-trash float-right"></span>
        </div>
      </div>
    </div>

    <div class="col-md-4 category-card">
      <div class="inner-card " style="background-image: url('../../assets/confess.jpg');">
        <div class="blur-layer"></div>
        <div class="all-element">
          <h4>Confessions</h4>
          <hr>
          <table>
            <tr>
              <td><strong>102</strong> contents</td>
            </tr>
            <tr>
              <td><strong>829</strong> Views</td>
            </tr>
            <tr>
              <td><strong>23</strong> Comments</td>
            </tr>
          </table>
          <hr>
          <span class="fa fa-edit"></span>
          <span class="fa fa-trash float-right"></span>
        </div>
      </div>
    </div>

    <div class="col-md-4 category-card">
      <div class="inner-card" style="background-image: url('../../assets/love.jpg');">
        <div class="blur-layer"></div>
        <div class="all-element">
          <h4>Relationships</h4>
          <hr>
          <table>
            <tr>
              <td><strong>102</strong> contents</td>
            </tr>
            <tr>
              <td><strong>829</strong> Views</td>
            </tr>
            <tr>
              <td><strong>23</strong> Comments</td>
            </tr>
          </table>
          <hr>
          <span class="fa fa-edit"></span>
          <span class="fa fa-trash float-right"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 user-card">

    </div>
  </div>    <div class="col-md-3 user-card">

  </div>
</div>