<ul>
  <li>
    <h2>Dashboard</h2>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Users</h2>
    <ul class="inner">
      <li class="active">
        <a routerLink="/users">Users </a>
      </li>
      <li>Admins</li>
      <li>Priviledges</li>
    </ul>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Contents</h2>
    <ul class="inner">
      <li><a routerLink="/categories">Categories </a></li>
      <li><a routerLink="/contents">Contents </a></li>
      <li>Notification Build</li>
    </ul>
  </li>
</ul>