<div class="wrapper px-3 py-4">
  <h2>Contents</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="#">Contents</a></li>
      <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
  </nav>
  <div class="wrapper-content row">
    <div class="col-md-8">
      <div class="md-form">
        <i class="fa fa-search prefix search-icon"></i>
        <input type="text" id="form2" class="form-control search" placeholder="Search by name or email or phone">
    </div>
    </div>
  </div>
  <div class="row px-5 mx-2 mt-3">
    <div class="col-md-4 content-card">
      <div class="inner-card">
        <div class="card-banner" style="background-image: url('../../assets/confess.jpg');"></div>
        <div class="content-element">
            <h4>Ministers Of Reconcilation</h4>
            <div class="highlight mb-1">200 views</div>
            <div class="main-highlight mb-1">Confession</div>
            <div class="tags">
              <span>Work</span>
              <span>Reconcile</span>
            </div>
            <div class="player-box mt-2 mx-2">
              <span class="fa fa-play play-btn"></span>
              <div class="seek">
                <div class="seek-inner"></div>
              </div>
            </div>
            <div class="highlight mt-2">43 comments</div>
            <div class="comment-box">
              <p>God is Great <spa class="fa fa-heart" style="color: red"></spa> </p>
              <em>- cyberick</em>
              <div class="comment-icon">
                <span class="fa fa-flag"></span>
                <span class="fa fa-trash"></span>
              </div>
            </div>
            <a href="">View all comments</a>
            <hr>
            <span class="fa fa-edit"></span>
            <span class="fa fa-trash float-right"></span>
        </div>
      </div>
    </div>

    <div class="col-md-4 content-card">
        <div class="inner-card">
          <div class="card-banner" style="background-image: url('../../assets/life.jpg');"></div>
          <div class="content-element">
              <h4>Pillar And Ground Of Truth</h4>
              <div class="highlight mb-1">200 views</div>
              <div class="main-highlight mb-1">Church Growth</div>
              <div class="tags">
                <span>church</span>
                <span>truth</span>
                <span>wisdom</span>
              </div>
              <div class="player-box mt-2 mx-2">
                <span class="fa fa-play play-btn"></span>
                <div class="seek">
                  <div class="seek-inner"></div>
                </div>
              </div>
              <div class="highlight mt-2">43 comments</div>
              <div class="comment-box">
                <p>awesome message </p>
                <em>- cyberick</em>
                <div class="comment-icon">
                  <span class="fa fa-flag"></span>
                  <span class="fa fa-trash"></span>
                </div>
              </div>
              <a href="">View all comments</a>
              <hr>
              <span class="fa fa-edit"></span>
              <span class="fa fa-trash float-right"></span>
          </div>
        </div>
      </div>
      <div class="col-md-4 content-card">
          <div class="inner-card">
            <div class="card-banner" style="background-image: url('../../assets/love.jpg');"></div>
            <div class="content-element">
                <h4>A Time Love</h4>
                <div class="highlight mb-1">200 views</div>
                <div class="main-highlight mb-1">Relationships</div>
                <div class="tags">
                  <span>love</span>
                  <span>agape</span>
                  <span>care</span>
                </div>
                <div class="player-box mt-2 mx-2">
                  <span class="fa fa-play play-btn"></span>
                  <div class="seek">
                    <div class="seek-inner"></div>
                  </div>
                </div>
                <div class="highlight mt-2">43 comments</div>
                <div class="comment-box">
                  <p>awesome message </p>
                  <em>- cyberick</em>
                  <div class="comment-icon">
                    <span class="fa fa-flag"></span>
                    <span class="fa fa-trash"></span>
                  </div>
                </div>
                <a href="">View all comments</a>
                <hr>
                <span class="fa fa-edit"></span>
                <span class="fa fa-trash float-right"></span>
            </div>
          </div>
        </div>
</div>